<!DOCTYPE html>
<html>

<head> </head>

<body>
    <form id="config_form" method="POST" action="/">
        <div>
            <h3>Configuration</h3>
            <table>
                <tbody>
                    {% for i in configuration_indexes %}
                    <tr>
                        <th><input type="text" name="configuration_keys" value="{{ configuration_keys[i] }}" readonly></th>
                        <td><input type="text" name="configuration_values" value="{{ configuration_values[i] }}"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h3>Instructions</h3>
            <div>
                <input type="button" value="add instruction" onclick="add_instruction(this)" />
            </div>
            <table>
                <tbody id="table-body">
                    {% for i in instruction_indexes %}
                    <tr>
                        <th><input type="text" name="instruction_keys" value="{{ instruction_keys[i] }}"></th>
                        <td><input type="text" name="instruction_values" value="{{ instruction_values[i] }}"></td>
                        <td><input type="button" value="remove" onclick="remove_instruction(this)" /></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <input type="submit" value="apply changes">
        </div>
    </form>
    <script type="text/javascript">
        function add_instruction(element) {
            const tableRow = document.createElement("tr");
            tableRow.innerHTML = "<th><input type='text' name='instruction_keys'></th><td><input type='text' name='instruction_values'></td><td><input type='button' value='remove' onclick='remove_instruction(this)' /></td>";
            document.getElementById("table-body").appendChild(tableRow);
        }

        function remove_instruction(element) {
            const tableData = element.parentElement;
            const tableRow = tableData.parentElement;
            document.getElementById("table-body").removeChild(tableRow);
        }
    </script>
</body>

</html>